.mt{
    margin-top: -343px;
}
.df{
    display: flex;
}
.btn{
    width: 90px;
    border-radius: 22px;
    border: none;
    transition: 0.3s ease;
    font-size: 14px;
    height: 35px;
    background-color: red;
    opacity: 0.8;
    color: black;
}
